div(style={'margin-bottom': '0.5em'})
  a(href='/jobs/new' class='o-btn o-btn-primary') 发布新的职位

.c-uc-jobs
  each job in jobs
    .c-uc-job(data-job-id=job.id)
      .c-uc-job__title
        a.u-flex-mg-r-auto(href='/job/' + job.id)= job.title
        span.u-fir-span 申请人数：
          if job.appliers_cnt > 0
            a(href='/job/' + job.id + '/appliers')= job.appliers_cnt
          else
            | 0
        a.u-fir-span(href='/job/' + job.id + '/edit') 编辑
        a(href='/job/' + job.id + '/questions') 题目列表

      .c-uc-job__basics.u-small-font
        span 发布日期：<strong>#{job.createdAt.toLocaleDateString()}</strong>
        span 工作地点：<strong>#{job.address}</strong>
        span 薪资：    <strong>#{job.displaySalary}</strong>
