extends _layout.pug
append css
  link(href=assetHashPath("profile/message.css"), rel="stylesheet")
append js
  script(src=assetHashPath('profile/message.js'))
block right_content
  if messages.length
    .c-uc-messages
      each message in messages
        .c-uc-message.u-small-font
          .c-uc-message__title
            a.js-msg-link(href='/profile/jobs?status=replied' data-msg-id=message.id class={'is-read': message.read}) 你申请的职位 #{message._job.title} 有回复了 
          .c-uc-message__operation
            if !message.read
              a.js-set-read(href='javascrpt:void(0)' data-msg-id=message.id) 置为已读
            else
              | 已读
  else
    .no-msg.text-center 暂时没有任何消息！
