doctype html
html(lang='zh')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= seo && seo.title || 学做网
    meta(name="keywords" content=seo && seo.keywords || '实习,实习岗位,大学生')
    meta(name="description" content=seo && seo.description || '学做网专注于大学在校及毕业生学习及实习岗位')

    block css
  body.flex
    header.c-header
      include ./_head.pug
    main.c-main.u-flex(style={padding: '1em 0'})
      .u-content
        block content
    footer.c-footer
      include ./_foot.pug
    block js
      script(src=assetHashPath('manifest.js'))
      script(src=assetHashPath('vendor.js'))
