.basic-info
  span
    img(src=user.avatarUrl() alt='头像' width='36px' height='36px')
  span= user.name
  span= user.business
  span= user.scaleValue()
  span= user.maturityValue()
  span
    a(href=user.url)= user.url
.company-desc!= user.desc
.jobs
  .text-bold.head 公司发布的所有职位：
  each job in jobs
    .job.flex
      span
        a(href='/job/' + job.id)= job.title
      span= job.address
      span= job.displaySalary
      span= job.createdAt.toLocaleDateString()
