.c-user-basics.u-small-font
  span #[img.c-user-basics__ava(src=user.avatarUrl())]
  span= user.name
  span= user.university
  span= user.major
  span= user.entryDate

.c-user-part-info
  .c-user-part-info__head 职业规划：
  .c-user-part-info__body!= user.careerPlan || '暂无'

.c-user-part-info
  .c-user-part-info__head 课外作品：
  .c-user-part-info__body!= user.zuopin || '暂无'
