.u-basic-info.small-font
  span
    img.round-border.vertical-middle(src=user.avatarUrl() alt='头像' width='24px' height='24px')
  span= user.name
  span= user.university
  span= user.major
  span= user.entryDate
.u-desc-sec
  .head.text-bold 职业规划：
  .detail!= user.careerPlan || '暂无'
.u-desc-sec
  .head.text-bold 课外作品：
  .detail!= user.zuopin || '暂无'
