.basic-info
  span
    img(src=user.avatarUrl() alt='头像' width='36px' height='36px')
  span= user.name
  span= user.university
  span= user.major
  span= user.entryDate
.career-plan
  .head.text-bold 职业规划：
  .detail!= user.careerPlan ? user.careerPlan : '暂无'
.zuopin
  .head.text-bold 课外作品：
  .detail!= user.zuopin ? user.zuopin : '暂无'
