extends ../layouts/main
prepend js
  include ../share/_ueditor_js.pug
append js
  script(src=assetHashPath('answer/new_edit.js'))
block content
  .c-answer-head
    a.c-answer-head__job-link(href='/job/' + job.id)= job.title
    span 修改解答 

  include ../share/_question_detail.pug

  .c-your-answer-txt 你的答案：
  - var uri = `/question/${question.id}/answer/${answer.id}/update`
  form-validator(method='post' action=uri v-bind='$data')
    textarea(name='content' id='content' class='u-rich-editor')!= answer.content
    .c-answer-fm-submit
      input.o-btn.o-btn-primary.u-fir-span(type='submit' value='保 存')
