extends ../layouts/main
block js
  script(src='/js/answers.js')
block css
  link(href="/css/answers.css", rel="stylesheet")
block content
  .answers
    .text-bold.answers-head
      | 职位：
      a.job-title(href='/job/' + job.id)= job.title
    .answers-question
      strong 问题：
      .question-content!= question.content
    .answers-list
      strong 解答：
      each answer in answers
        - var user = answer._user
        .answer.small-font
          .user-info
            span= user.name
            span #{user.university}/#{user.major}
            span 创建时间：#{answer.createdAt.toLocaleDateString()}
            span 最后更新时间：#{answer.updatedAt.toLocaleDateString()}
            a.answer-detail(href='/question/' + question.id + '/answer/' + answer.id) 查看解答详情>>
          .answer-content!= answer.content
