extends ../layouts/main
prepend js
  include ../share/_ueditor_js.pug
append js
  script(src=assetHashPath('answer/new_edit.js'))
block content
  .c-answer-head
    a.c-answer-head__job-link(href='/job/' + job.id)= job.title
    span 解答问题

  include ../share/_question_detail.pug

  .c-your-answer-txt 你的答案：
  - var uri = `/question/${question.id}/answers/create`
  form-validator(method='post' action=uri v-bind='$data')
    input(type='hidden' name='_question' value=question.id)
    input(type='hidden' name='_user' value=currentUser.id)
    input(type='hidden' name='_job' value=question._job.id)
    textarea(name='content' id='content' class='u-rich-editor')
    .c-answer-fm-submit
      input.o-btn.o-btn-primary.u-fir-span(type='submit' value='提 交')
