extends _layout.pug
block content
  .answer-show
    .answer-head
      | 职位：
      a.job-title(href='/job/' + job.id)= job.title
    .answer-question
      strong 问题：
      .question-content.small-font!= question.content
    .answer-content
      strong 解答：
      .body.small-font!= answer.content
      .opts
        if currentUser.type == 0
          a.edit-answer.btn-normal(href='/question/' + question.id + '/answer/' + answer.id + '/edit') 修 改
          button.btn-warning.del-answer(data-link='/question/' + question.id + '/answer/' + answer.id + '/remove' data-job-id=job.id) 删 除
        else
          if answer.isScored
            strong.text-bold.small-font 你对此解答的当前评分：#{answer.score} 分
            button.btn-normal.re-score 重新评分
          else
            button.btn-primary.to-score 为此解答评分
      .score-comment(style={display: 'none'})
        form.set-score(method='post' action='/question/' + question.id + '/answer/' + answer.id + '/update_score')
          .form-group
            label.label.label-input(for='score') 分数：
            input(type='text', name='score', id='score', value=answer.score, placeholder='0 ~ 100' class='form-control')
            .form-control-hint 取值范围：0 ~ 100
          .form-group
            label.label.label-input(for='comment') 评语：
            textarea(name='comment', id='comment', class='form-control')= answer.comment
          .form-group
            input.btn-primary(type='submit' value='提 交')
