extends ../layouts/main
block js
  script(src='/js/answers.js')
block css
  link(href="/css/answers.css", rel="stylesheet")
block content
  .answer-show
    .text-bold.answer-head
      | 职位：
      a.job-title(href='/job/' + job.id)= job.title
    .answer-question
      strong 问题：
      .question-content!= question.content
    .answer-content
      strong 解答：
      .body.small-font!= answer.content
      .opts
        if req.currentUser.type == 0
          a.edit-answer.btn(href='/question/' + question.id + '/answer/' + answer.id + '/edit') 修 改
          button.btn.btn-warning.del-answer 删 除
        else
          if answer.isScored
            strong.text-bold.small-font 你对此解答的当前评分：#{answer.score} 分
            button.btn.re-score 重新评分
          else
            button.btn.btn-primary.to-score 为此解答评分
      .score-comment(style={display: 'none'})
        form.set-score(method='post' action='/question/' + question.id + '/answer/' + answer.id + '/update')
          .form-group
            label.label.label-input(for='score') 分数：
            input(type='text', name='score', id='score', value=answer.score, placeholder='0 ~ 100' class='form-control')
          .form-group
            label.label.label-input(for='comment') 评语：
            textarea(name='comment', id='comment', class='form-control')= answer.comment
          .form-group
            input.btn.btn-primary(type='submit' value='提 交')
