.c-detail-question
  .c-detail-question__head.u-bold-text 问题：#{question.title}
  .c-detail-question__body.u-small-font!= question.content
  .c-detail-question__foot.u-smaller-font.u-less-imp
    span= question.tag
    span= question.labels.join(' ')
    span 所属职位：
      a(href='/job/' + question._job.id)= question._job.title
    span 难度：
    fa-rating(
      v-bind:read-only='true'
      initial-value=question.level
      v-bind:all-values="['0','1','2','3','4']"
      v-bind:root-style="{ 'font-size': '0.8rem' }")
