extends _layout.pug
block content
  .c-appliers-list-head.u-large-font
    a(href='/job/' + job.id) #{job.title} — 申请者列表

  each applier in appliers
    - var user = applier._user
    .c-applier(data-user-id=user.id, data-job-id=job.id)
      .c-applier__info.u-small-font
        span #[a.u-text-bold(href='/user/' + user.id)= user.name]
        span= user.university
        span= user.major
        span 申请时间：#{applier.createdAt.toLocaleDateString()}

      .c-applier__result
        if applier.status == 0
          .js-apply-op
            button.u-fir-span.o-btn.o-btn-primary 通过
            button.o-btn.o-btn-warning 拒绝
        case applier.status
          when 0
            .js-op-message(style={display: 'none'})
              div
                textarea.o-fm-ctl.c-applier__result__msg
              div
                button.u-fir-span.o-btn.o-btn-primary 确定
                button.o-btn.o-btn-normal 取消
          when 1
            .u-error-result 已拒绝：#{applier.message}
          when 2
            .u-success-result 已通过：#{applier.message}
