extends ../layouts/main
block css
  link(href="/css/job.css", rel="stylesheet")
block js
  script(src='/js/job.js')
block content
  .content.jobs-container
    each job in jobs
      .job-item.flex(data-job-id=job.id)
        .job-info
          p.job-title
            a(href='/job/' + job.id)= job.title
          p.job-basics
            span 发布日期：<strong>#{job.createdAt.toLocaleDateString()}</strong>
            span 公司：<strong>#{job._creator.name}</strong>
            span 工作地点：<strong>#{job.address}</strong>
            span 薪资：<strong>#{job.salary}</strong>
          .job-others.flex
            div
              p 工作职责：
              div= job.duty
            div
              p 要求：
              div= job.requirement
        .job-op
          p
            button.btn.btn-primary 申请职位
      .jobs-pages
