extends _layout.pug
block content
  //- 搜索框
  form.c-jobs-search-fm(action='/jobs' method='get')
    .c-jobs-search-fm__field-grp
      span.c-jobs-search-fm__field.u-fir-span
        label(for='title') 职位名称：
        input(type='text' id='title' name='title' value=title class='o-fm-ctl-hr')

      span.c-jobs-search-fm__field
        label(for='business') 行业：
        select(name='business' id='business' class='o-fm-ctl-hr')
          option(value='' selected) 请选择
          each b in businesses
            option(value=b selected=b == business)= b 

    .c-jobs-search-fm__field-grp.o-pt-mount
      span.c-jobs-search-fm__field.u-fir-span
        label(for='address') 工作地点：
        popup-tabs(
          field-name='address'
          field-class='o-fm-ctl-hr'
          v-bind:init-item=address
          v-bind:init-lables='initLables'
          v-bind:init-items='initItems')

      span.c-jobs-search-fm__field
        input(type='submit', value='搜索', class='o-btn o-btn-normal')

  //- 职位列表
  .c-jobs-search-list
    if !jobs.length
      .u-center-text.u-error-result 对不起，没有符合条件的职位，请换个搜索条件吧
    else
      each job in jobs
        .c-jobs-search-item.js-jobs-search-item(data-job-id=job.id)
          .c-jobs-search-item__title
            a.u-flex-mg-r-auto(href='/job/' + job.id)= job.title
            button.o-btn.o-btn-primary.js-idx-apply-job 申请职位

          .c-jobs-search-item__attrs.u-small-font
            span 发布日期：<strong>#{job.createdAt.toLocaleDateString()}</strong>
            span 公司：#[a(href='/user/' + job._creator.id)= job._creator.name]
            span 工作地点：<strong>#{job.address}</strong>
    if pages > 1
      include ../share/_pager.pug
