extends ../layouts/main
block css
  link(href="/css/job.css", rel="stylesheet")
block js
  script(src='/js/job.js')
block content
  .content.jobs-container
    each job in jobs
      .job-item.flex
        .job-info
          .job-title
            span= job._creator.name
            span= job.title
            span= job.createdAt
          .job-basics.
            工作地点：#{job.address}
            薪资：#{job.salary}
          .job-others.flex
            div
              p 工作职责
              div= job.duty
            div
              p 要求
              div= job.requirement
        .job-op
          p
            button.btn.btn-primary 申请职位
          p
            button.btn.btn-primary 收藏职位
      .jobs-pages
