extends _layout.pug
block content
  form.jobs-search(action='/jobs' method='get')
    div.flex
      span.flex
        label(for='title' class='label') 职位名称：
        input(type='text' id='title' name='title' value=title class='form-control-hr')

      span.flex
        label(for='business' class='label') 行业：
        select(name='business' id='business' class='form-control-hr')
          option(value='' selected) 请选择
          each b in businesses
            option(value=b selected=b == business)= b 
    div.flex
      span.flex
        label(for='address' class='label') 工作地点：
        input(type='text', name='address', id='address', value=address, class='form-control-hr')

      span.flex
        input(type='submit', value='搜索', class='btn-normal')

  .jobs-container
    if !jobs.length
      .text-center.error-result 对不起，没有符合条件的职位，请换个搜索条件吧
    else
      each job in jobs
        .job-item(data-job-id=job.id)
          div.flex.job-title
            a(href='/job/' + job.id)= job.title
            button.btn-primary 申请职位
          div.job-basics.small-font
            span 发布日期：<strong>#{job.createdAt.toLocaleDateString()}</strong>
            span 公司：
              a(href='/user/' + job._creator.id)= job._creator.name
            span 工作地点：<strong>#{job.address}</strong>
    if pages > 1
      include ../share/_pager.pug
