extends ../layouts/main
append css
  link(href=assetHashPath("job/new_edit.css"), rel="stylesheet")
append js
  include ../share/_ueditor_js.pug
  script(src=assetHashPath('job/new_edit.js'))
block content
  form-validator(method='post', action='/jobs', class='c-job-ne-fm', v-bind='$data')
    .c-job-ne-fm__head.u-large-font 创建实习岗位

    .o-fm-grp
      label(for='title') 职位名称：
      input(type='text', name='title', id='title', class='o-fm-ctl' autofocus)

    .o-fm-grp.o-pt-mount
      label(for='address') 工作地点：
      popup-tabs(
        field-name='address'
        field-class='o-fm-ctl'
        v-bind:init-lables='initLables'
        v-bind:init-items='initItems')

    .o-fm-grp
      label(for='salary') 薪资：
      select(name='salary', id='salary' class='o-fm-ctl')
        option(value='' selected) 请选择
        each s, i in salaries
          option(value=i)= s 

    .o-fm-grp
      label(for='business') 行业：
      select(name='business', id='business' class='o-fm-ctl')
        option(value='' selected) 请选择
        each b in businesses
          option(value=b)= b 

    .o-fm-grp
      label(for='duty') 职责：
      textarea(name='duty', id='duty', class='u-rich-editor')

    .o-fm-grp
      label(for='requirement') 要求：
      textarea(name='requirement', id='requirement', class='u-rich-editor')

    .o-fm-grp
      label(for='notes') 备注：
      input(type='text', name='notes', id='notes', class='o-fm-ctl')

    .o-fm-grp.u-center-text
      input(type='submit', value='发 布', class='o-btn o-btn-primary')
