extends _layout.pug
block content
  article.show-job.round-border
    .header.text-center.relative
      span.large-font= job.title
      a.absolute(href=`/job/${job.id}/questions` class='questions-link btn-primary') 问题列表
    section.job-section.job-basic
      h3 基本信息
      p
        span.inline-block 发布日期：
        span.inline-block= job.createdAt.toLocaleDateString()
      p
        span.inline-block 工作地点：
        span.inline-block= job.address
      p
        span.inline-block 行业：
        span.inline-block= job.business
    section.job-section
      h3 工作职责
      p!= job.duty
    section.job-section
      h3 工作要求
      p!= job.requirement
    section.job-section
      h3 公司简介
      p!= company.desc
    section.sj-foot
      if currentUser
        if currentUser.type == 0
          if applyStatus
            .applied.text-bold
              if applyStatus.status == 0
                span.waiting 已申请，审核中...
              else if applyStatus.status == 1
                span.refused 企业已拒绝你的申请：#{applyStatus.message}
              else
                span.passed 申请已通过：#{applyStatus.message}
          else
            .text-center
              button(class='btn-primary to-apply' data-job-id=job.id) 申 请
        else if isMyJob
          .my-job.flex
            span.appliers-size 当前申请人数：#{job._appliersSize}
            a(href=`/job/${job.id}/edit` class='btn-normal edit-job fir-span') 编 辑
            button(class='btn-warning del-job' data-job-id=job.id) 删 除
            .overlay(style={display: 'none'})
            .overlay-content(style={display: 'none'})
              .ol-main 删除后无法恢复，确定要删除职位：#{job.title}吗？
              .ol-foot
                button.fir-span.btn-warning.ol-ok 确定
                button.btn-normal.ol-cancel 取消
      else
        .text-center
          button(class='btn-primary to-apply' data-job-id=job.id) 申 请
