extends _layout.pug
block content
  article.show-job
    h2.text-center= job.title
    section.job-section.job-basic
      h3 基本信息
      p
        span.inline-block 发布日期：
        span.inline-block= job.createdAt.toLocaleDateString()
      p
        span.inline-block 工作地点：
        span.inline-block= job.address
      p
        span.inline-block 薪资：
        span.inline-block= job.displaySalary
      p
        span.inline-block 行业/职位类别：
        span.inline-block= job.business + '/' + job.type
    section.job-section
      h3 工作职责
      p!= job.duty
    section.job-section
      h3 工作要求
      p!= job.requirement
    section.job-section
      h3 公司简介
      p!= company.desc
    if questions.length > 0
      include _questions.pug
    section.job-apply.text-center
        if applied
          span(class='applied larger-font') 已 申 请
        else if !currentUser || currentUser.type == 0
          button(class='btn btn-primary' data-job-id=job.id) 申 请
