.c-ques-list-item
  .c-ques-list-item__head.u-less-imp
    a(href='/job/' + question._job + '/question/' + question.id)= question.title
    span.u-flex-mg-l-auto.u-smaller-font #{question.tag}
    span.c-ques-list-item__head__labels.u-smaller-font #{question.labels.join(' ')}
    span.u-smaller-font 难度：
      span.br-theme-fontawesome-stars
        span.br-widget.br-readonly
          each l in [0, 1, 2, 3, 4]
            a(href='#' class={'br-selected': l <= question.level})

  .c-ques-list-item__content!= question.content

  if currentUser
    if currentUser.type == 0
      if myAnswers[question.id]
        - var showUrl = `/question/${question.id}/answer/${myAnswers[question.id]}`
        a.o-btn.o-btn-normal(href=showUrl) 查看我的解答
      else
        a.o-btn.o-btn-primary(href=`/question/${question.id}/answers/new`) 马上解答

    else if isMyJob
      - var editUrl = '/job/' + job.id + '/question/' + question.id + '/edit'
      a.u-fir-span.o-btn.o-btn-normal(href=editUrl) 编 辑

      - var delUrl = '/question/' + question.id + '/remove'
      button.u-fir-span.o-btn.o-btn-warning.js-del-question(data-link=delUrl) 删 除
      div(id='overlay-mount' + question.id)
        popup-overlay(v-on:ok='onOk')
          div(slot='body') 删除后无法恢复，确定要删除这个问题吗？

      - var asUrl = '/question/' + question.id + '/answers'
      a.u-fir-span.u-small-font(href=asUrl) 查看所有解答
  else
    a.o-btn.o-btn-primary(href=`/question/${question.id}/answers/new`) 马上解答
