extends _layout.pug
append js
  script(src='/ckeditor/ckeditor.js')
block content
  .q-new-edit
    .q-common-head
      span.fir-span 您正在为职位
      a.fir-span(href='/job/' + job.id)= job.title
      span 修改一道试题：
    form.q-edit.small-font(method='post' action='/job/' + job.id + '/question/' + question.id + '/update')
      .form-group
        label(for='title' class='label label-input') 标题：
        input(type='text' name='title', id='title' class='form-control', value=question.title, required)
      .form-group
        label(for='tag' class='label label-input') 分类：
        select(name='tag', id='tag' class='form-control', required)
          option(value='' selected) 请选择
          each t in quesTags
            option(value=t, selected=t == question.tag)= t 
      .form-group
        label(class='label label-input') 难度：
        .levels
          each l in [0,1,2,3,4,5]
            .level
              input(type='radio', name='level', id='level' + l, value=l checked=l == question.level)
              label(for='level' + l class='label')
                | #{gModels.Question.LEVEL_DESCS[l]}
      .form-group
        label(for='content' class='label label-input') 题目内容：
        textarea(name='content', id='content' class='form-control rich-editor', required)= question.content
      .form-group
        input(type='submit', value='保 存' class='btn btn-primary')
