extends ../layouts/main
block js
  script(src='/ckeditor/ckeditor.js')
  script(src='/js/questions.js')
block css
  link(href="/css/questions.css", rel="stylesheet")
block content
  .question-new
    .questions-new-head
      | 您正在为职位
      a.job-title(href='/job/' + job.id)= job.title
      | 新增一道试题：
    form.questions-new-form(method='post' action='/job/' + job.id + '/questions/create')
      .form-group
        label(class='label label-input text-bold') 难度：
        .levels
          each l in [0,1,2,3,4,5]
            .level
              input(type='radio', name='level', id='level' + l, value=l checked=l == 0)
              label(for='level' + l class='label')
                | #{gModels.Question.LEVEL_DESCS[l]}（期望#{gModels.Question.LEVELS_TIME_DESCS[l]}能完成解答）
      .form-group
        label(for='content' class='label label-input text-bold') 题目内容：
        textarea(name='content', id='content' class='form-control rich-editor', required)
      .form-group
        input(type='submit', value='保 存' class='btn btn-primary')
