extends ../layouts/main
append css
  link(href=assetHashPath("question/new_edit.css"), rel="stylesheet")
prepend js
  include ../share/_ueditor_js.pug
append js
  script(src=assetHashPath('question/new_edit.js'))
block content
  .c-ques-n-e
    .c-ques-common-head
      span.u-fir-span 您正在为职位
      a.u-fir-span(href='/job/' + job.id)= job.title
      span 新增一道试题：

    - var uri = '/job/' + job.id + '/questions/create'
    form-validator.c-ques-n-e__fm(method='post' action=uri v-bind='$data')
      .o-fm-grp
        label(for='title') 标题：
        input(type='text' name='title', id='title' class='o-fm-ctl' autofocus)

      .o-fm-grp
        label(for='tag') 分类：
        select(name='tag', id='tag' class='o-fm-ctl')
          option(value='' selected) 请选择
          each t in quesTags
            option(value=t)= t 

      .o-fm-grp
        label(for='labels') 标签：
        input-labels(input-id='labels' search-url='/qlabels/search' add-url='/qlabels') 

      .o-fm-grp.o-rat-mount
        label(for='level') 难度：
        fa-rating(
          field-name='level'
          v-bind:all-values="['0','1','2','3','4']"
          v-bind:root-style="{ 'margin-top': '0.5rem', 'font-size': '1.5rem' }")

      .o-fm-grp
        label(for='content') 题目内容：
        textarea(name='content', id='content' class='u-rich-editor')

      .o-fm-grp.u-center-text
        input(type='submit', value='保 存' class='o-btn o-btn-primary')
