extends _layout.pug
append js
  script(src=assetHashPath('js/question/show.js'))
block content
  .q-show
    .q-common-head
      | 所属职位：
      a.qj-title(href='/job/' + job.id)= job.title
    .q-content!= question.content
    div
      case status
        when 'toAnswer'
          span.small-font 对这个问题有兴趣？
          a.btn-primary(href=`/question/${question.id}/answers/new`) 马上解答
        when 'hasAnswer'
          strong.small-font 你已经做过解答，答案如下：
          .a-content.small-font.round-border!= answer.content
          div
            a.fir-span.btn-normal(href=`/question/${question.id}/answer/${answer.id}/edit`) 修 改
            button.btn-warning.del-answer(data-link=`/question/${question.id}/answer/${answer.id}/remove` data-job-id=job.id) 删 除
        when 'toEdit'
          a.fir-span.btn-normal(href=`/job/${job.id}/question/${question.id}/edit`) 编辑
          a.btn-warning(href=`/job/${job.id}/question/${question.id}/edit`) 删除
